{% extends "index.html" %}
{% block scripts %}
  {{ super() }}
  {{ datepicker.loader(theme="base") }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %} 
{% block content %}
<div class="dashboard-forms ">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Dashboard</h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Overview</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5><i class="fa fa-fw fas fa-calendar-alt"></i>Date</h5>
                    <form class="verticalform">
                        <input type="text" class="form-control dp" />
                        <script>
                            var currentDate = $( ".selector" ).datepicker( "getDate" );
                            console.log(currentDate)
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}    