{% extends "index.html" %}
{% block scripts %}
<script>
    function myFunction() {
        var x = document.getElementById("dateSelect").value;
        var y = new Date(x);
        var z = y.toISOString();
        document.getElementById("start").innerHTML = z;
        var a = y.setDate(y.getDate()+1)
        var b = new Date(a).toISOString();
        document.getElementById("end").innerHTML = b;
        console.log(start)
        console.log(end)
    }
</script>
{% endblock scripts %} 
{% block content %}
<div class="dashboard-forms">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Dashboard</h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Overview</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        <h5><i class="fa fa-fw fas fa-calendar-alt"></i>Date</h5>
                        <input type="date" name="dateSelect" id="dateSelect" value={{ dateSelect }}/>
                        <button onclick="myFunction()">Search</button>
                        <p id="start" name="start"></p>
                        <p id="end" name="end"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}    