{% extends "layout.html" %}
{% block content %}
  {% for result in results %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ result._id }}</a>
          <small class="text-muted">{{ result.time }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ result.guard_exist }}</a></h2>
        <p class="article-content">{{ result.time_duration }}</p>
      </div>
    </article>
  {% endfor %}
{% endblock content %}